# General Configuration
MAIL_DOMAIN=
MAIL_HOSTNAME=

# SSL Configuration
SSL_CERT_PATH=/etc/nginx/ssl/quickbox.crt
SSL_KEY_PATH=/etc/nginx/ssl/quickbox.key

# Relay Host Configuration
RELAY_HOST=
RELAY_PORT=587
RELAY_USER=
RELAY_PASSWORD=

# Docker Mailserver Feature Toggles
ENABLE_SPAMASSASSIN=1
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=1
ONE_DIR=1
DMS_DEBUG=0
